<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nbupiggybank">

    <application
        android:allowBackup="true"
        android:icon="@drawable/piggycircle2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NBUPiggyBank">
        <activity
            android:name=".changePhone"
            android:exported="false" />
        <activity
            android:name=".Launch"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="ExtraText" />
        <activity
            android:name=".PhoneAuth"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".ProfileStartActivity"
            android:exported="false" />
    </application>

</manifest>